

div{
    width: 300px;
    height: 100px;

    margin:20px;
}

/*whitish, light grayish, grayish, dark grayish, blackish*/
#test1 {
    background-color:hsl(0, 40%, 20%);
}#test2 {
    background-color:hsl(0, 40%, 35%);
}#test3 {
    background-color:hsl(0, 40%, 50%);
}#test4 {
    background-color:hsl(0, 40%, 65%);
}#test5 {
    background-color:hsl(0, 40%, 80%);
}




/*pale, soft, dull, dark*/
#test6 {
    background-color:hsl(0, 60%, 27%);
}#test7 {
    background-color:hsl(0, 60%, 42%);
}#test8 {
    background-color:hsl(0, 60%, 57%);
}#test9 {
    background-color:hsl(0, 60%, 72%);
}


/*light, strong, deep*/
#test10 {
    background-color:hsl(0, 80%, 35%);
}#test11 {
    background-color:hsl(0, 80%, 50%);
}#test12 {
    background-color:hsl(0, 80%, 65%);
}

/*vivid*/
#test13 {
    background-color:hsl(0, 100%, 50%);
}