body {
    background-color: #7b9acc;
}

div.flash-message {
    z-index: 1;

    width:200px;
    height:50px;

    border-radius:20px;

    position:absolute;
    top:10px;
    left:47%;

    background-color: white;

    display:none;
    justify-content: center;
    align-items: center;
}

div.flash-message-effect{
    animation-duration: 1s;
    animation-name:flasheffect;
}
@keyframes flasheffect {
    0% {
        margin-bottom:20%;
        opacity: 0;
    }
    
    90% {    
        display:flex;
        margin-top:0%;
        opacity: 1;
    }

    100%{
        display:none;
    }
}


div.flash-message span.flash-message-txt{
    font-weight:bolder;
}

content.details-content {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 0px;
    column-gap: 0px;

    height:80%;
    background-color:beige;

    padding-top:40px;
    padding-bottom:40px;

    background-color: #7b9acc;

    position: relative;
}

content.details-content div.color{
    position: relative;

    display:flex;
    justify-content: center;
    align-items: center;
}
content.details-content span.copy-btn {
    padding:10px 15px 10px 15px;

    border:2px solid white;
    border-radius: 5px;
    color:white;

    cursor: pointer;

    animation-duration: 1s;
    animation-name:fadein;
}

@keyframes fadein {
    from {
        margin-top:10%;
        opacity: 0;
      }
    
      to {
        display:block;
        margin-top:0%;
        opacity: 1;
      }
}

content.details-content span.color-name {
    position:absolute;

    right:5px;
    bottom:5px;

    color:white;
    font-weight: bolder;
}