content {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap:10px;
    column-gap: 10px;

    height:90%;
    background-color:beige;

    padding:10px;
}

content .palette{
    height:100%;
}

content .palette .palette-link{
    display:flex;
    flex-direction:column;
    height:100%;
}

content .palette .palette-link .colors{
    height:80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

content .palette .palette-link .colors .color{
    width:100%;
    height:100%;
}

content .palette .palette-link .tone-names {
    height:20%;
}

content .palette .palette-link .tone-names .tone-name{
    margin-left:5px;
    margin-top:5px;
}